*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

  
body{
background-color: black;
    box-sizing: border-box;
    color: white;
}
/* header */
.Cabecera{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    margin: 70px;
}

.Cabecera-div{
    width: 450px;
    height: 10px;
}
.Nombre{
    color: rgba(70,230,110,1);
    font-size: 80px;
    animation: Animacion 2s infinite;  
}
@keyframes Animacion {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


.imagen{
width: 350px;
height: 350px;
position: relative;
left: 100px;
filter: grayscale(100%);
box-shadow: 10px 1px 100px rgba(70,230,110,1);
border-radius: 200px;
background-position: center;
background-size: cover;
}

/* animacion */
.animate__animated.animate__rubberBand {
    --animate-duration: 3s;
  }

  .wsp a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    
     
}
  .wsp{ 
    width: 220px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 100px;
    left: 180px;
    background-color: rgba(70,230,110,1);
      display: flex;
      justify-content: space-around;
      font-family: sans-serif;
      box-sizing: border-box;
}
.icono{
    font-size: 30px;
}


.Cabecera- h1{
    border-radius: 40px;
    align-items: center;
    text-align: center;
    color: rgba(70,230,110,1);;
   font-family: sans-serif;
   text-shadow: 1px 1px 30px black;

}
.Cabecera-{
    align-items: center;
    text-align: center;
}

.Teconologias{
    display: flex;
    justify-content:space-evenly;
    position: relative;
   top: 240px;
    font-size: 30px;
}


.wsp{
    left: 320px;
    top: 10px;

}

.correo{
    display: flex;
 justify-content: center;
 font-family: sans-serif;
 
}

.correo p{
margin: 10px;
font-size: 20px;
}


/* medias query */

@media (max-width: 1250px) {
    .imagen{
       width: 280px; 
       height: 340px;   
    }

  }

  @media (max-width: 600px){
.Nombre{
font-size: 50px;

    }

    .Cabecera-div{
        width: 350px;
    }
    .wsp{
        right: 800px;
        top: 60px;
        
    }
 
}


  @media (max-width: 1100px){

    .imagen{
    width: 220px;
    height: 280px;
}
.wsp{
bottom: 40px;
margin-left: 10px;
}
  }

  @media (max-width: 1050px){

body{

}

    .imagen{
        width: 220px;
        height: 280px;
        display: none;
    }
    .correo{
        margin-top: 60px;
    }
    .wsp{
        top: 40px;
    }
      }

      @media (max-width: 700px){
 
      
        .wsp{
         left: 200px;
        }
          }

          @media (max-width: 600px){
    
            .wsp{
            position: relative;
            top: 60px;
            left: 100px;

            }
            .Teconologias{
                position: relative;
               
                margin-bottom: 100px;
            }
              }